*{

    box-sizing: border-box; 

    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

body.terms-body{
    height: 1000px;
}

.background-image {
    position: fixed;
    z-index: -100;
    inset: 0;

    background-image: url("../img/wp.gif");
    background-size: cover;
    background-repeat: repeat;
    width: 100vw;
    height: 100vh;
}

.card {
    display: flex;
    position: absolute;
    left: 50%;
    flex-direction: column;
    transform: translate(-50%, 0%);
    margin-top: 100px;
    width: 800px;
    height: 500px;
    animation: transitionIn 0.75s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(10deg);
    }
    to {
        opacity: 1;
        transform: translateY(50deg);
    }
}

.header {
    transition: 0.125s;
    border: 5px solid #1a2c53;
    background-color: #934e99;
    width: 800px;
    height: 110px;
}

.header:hover{
    scale: 0.90;
}

.header a {
    display: block;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;

    border: 5px solid #1a2c53;

    background-color: #be90c2;
    width: 35px;
    height: 35px;
    color: #1a2c53;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    text-align: center;

    text-decoration: none;
}

.main {

     display: flex;

     border: 5px solid #1a2c53;
     background-color: rgb(255, 255, 255);
     width: 800px;
     height: 1000px;
}

.socials, .chatbox, .buttons {
    flex: 1; 
}

.socials {
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: #391f60;
}

.exclusive:hover {
    scale: 0.8;
}

.socials a {
    width: 100%;
    text-align: left;
    text-decoration: none;
    color: #391f60;
    margin-top: 20px;
}

.socials.b {
    width: 100%;
    text-align: left;
    text-decoration: none;
    color: #391f60;
    flex-direction: row;
    gap: 4px;
    margin-top: -30px;
}

.twitter-username {
    font-weight: bold;
    font-size: 20px;
}

.chatbox {
    display: flex;
    flex-direction: column;
    margin-block: 12px;
    border-top: 5px solid rgba(0,0,0,0.2);
    border-bottom: 5px solid rgba(0,0,0,0.2);
    padding-block: 12px;
}

.chatbox-header {
    margin: 12px;
    background-color: #be90c2;
    color: #592b5c;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.chatbox-header:hover {
    scale: 0.8;
}

.now-online {
    font-style: italic;
    opacity: 0.6;
    margin-top: 5px;
    margin-bottom: 0px
}

.chat {
    font-size: 1.2rem;
    margin-bottom: 0px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 12px;
    padding-block: 24px;
}

.pcloud:hover {
    scale: 0.8;
}

.buttons a {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 12px;
    border: 2px solid #9ca5b8;
    padding: 9px;
    width: 100%;
    color: black;
    font-size: 1.75rem;
    text-align: center;
    text-decoration: none;
}

a:hover{
    opacity: 0.9;
}

a:active {
    opacity: 0.8;
}

.footer {
    transition: 0.125s;
    border: 3px solid #1a2c53;
    background-color: #934e99;
    width: 800px;
    padding-block: 20px;
}

.footer:hover {
    scale: 0.90;
}

.introduction {
    display: flex;
    flex: 1.75;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    border-top: 3px solid rgba(0,0,0,0.2);;
    border-bottom: 3px solid rgba(0,0,0,0.2);;
    text-align: justify;
    font-size: 18.5px;
    line-height: 1.5;
}

.artworks {
    border-radius: 100px;
    display: block;
    justify-content: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.actions {
    display: flex;
    flex: 1;
    flex-direction: column;
    
    align-items: center;
    padding-inline:12px;
}

.actions a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 12px;
    border: 2px solid #9ca5b8;
    padding: 9px;
    width: 100%;
    color: black;
    font-size: 1.75rem;
    text-align: center;
    text-decoration: none;  
}

table {
    margin-bottom: 10px;
}

table th, table td {
    border-bottom: 2px solid black;
}

.main-long {
    height: fit-content;
}

.terms {
    
    text-align: justify;
    flex: 1.75;
    flex-direction: column;
    align-items: center;
    margin: 34px;
    border-top: 3px solid rgba(0,0,0,0.2);;
    border-bottom: 3px solid rgba(0,0,0,0.2);;
    padding-bottom: 24px;
    font-size: 18.5px;
    line-height: 1.5;
}

.disclaimer {
    background-color: #be90c2;
    color: #592b5c;
}

.payment {
    background-color: #be90c2;
    color: #592b5c;
}

